// Body
$body-bg: #f8fafc;

/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('~/Roboto/roboto-v20-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Roboto'), local('Roboto-Regular'),
    url('~/Roboto/roboto-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('~/Roboto/roboto-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('~/Roboto/roboto-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('~/Roboto/roboto-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('~/Roboto/roboto-v20-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* pt-sans-narrow-regular - latin_cyrillic */
@font-face {
    font-family: 'PT Sans Narrow';
    font-style: normal;
    font-weight: 400;
    src: url('~/PtSansNarrow/pt-sans-narrow-v11-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
    src: local('PT Sans Narrow'), local('PTSans-Narrow'),
    url('~/PtSansNarrow/pt-sans-narrow-v11-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('~/PtSansNarrow/pt-sans-narrow-v11-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('~/PtSansNarrow/pt-sans-narrow-v11-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
    url('~/PtSansNarrow/pt-sans-narrow-v11-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('~/PtSansNarrow/pt-sans-narrow-v11-latin_cyrillic-regular.svg#PTSansNarrow') format('svg'); /* Legacy iOS */
}
/* pt-sans-narrow-700 - latin_cyrillic */
@font-face {
    font-family: 'PT Sans Narrow';
    font-style: normal;
    font-weight: 700;
    src: url('~/PtSansNarrow/pt-sans-narrow-v11-latin_cyrillic-700.eot'); /* IE9 Compat Modes */
    src: local('PT Sans Narrow Bold'), local('PTSans-NarrowBold'),
    url('~/PtSansNarrow/pt-sans-narrow-v11-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('~/PtSansNarrow/pt-sans-narrow-v11-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('~/PtSansNarrow/pt-sans-narrow-v11-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */
    url('~/PtSansNarrow/pt-sans-narrow-v11-latin_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('~/PtSansNarrow/pt-sans-narrow-v11-latin_cyrillic-700.svg#PTSansNarrow') format('svg'); /* Legacy iOS */
}

/* dorsa-regular - latin */
@font-face {
    font-family: 'Dorsa';
    font-style: normal;
    font-weight: 400;
    src: url('~/Dorsa/dorsa-v10-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Dorsa'), local('Dorsa-Regular'),
    url('~/Dorsa/dorsa-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('~/Dorsa/dorsa-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('~/Dorsa/dorsa-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('~/Dorsa/dorsa-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('~/Dorsa/dorsa-v10-latin-regular.svg#Dorsa') format('svg'); /* Legacy iOS */
}

// Typography
$roboto-font: 'Roboto', sans-serif;
$font-family-sans-serif: 'PT Sans Narrow', sans-serif;
$dorsa: 'Dorsa', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #FF0000;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$black: #191919;
$dark: #272323;
$gray: #707070;
$white: #ffffff;

