@import '../../../../../sass/variables';

.IndexTitle {
    width: 100%;
    color: #ffffff;
    background-color: rgba($black, 0.6);
    margin-left: 35%;
    padding: 200px;

    .title,
    .tagLine {
        text-transform: uppercase;
    }

    .title {
        font-size: 73px;
        font-family: $roboto-font;

        span{
            color: $red;
        }
    }

    .tagLine {
        font-size: 42px;
        font-weight: bold;
    }

    .desc {
        font-size: 18px;
        margin-top: 20px;
    }

    div {
        line-height: 1.2;
    }
}
