@import '../../../../../sass/variables';

.IndexTitle {
    color: #ffffff;
    background-color: rgba($black, 0.6);
    padding: 200px;

    .wrap {
        width: 320px;
        box-sizing: border-box;

        .title,
        .tagLine {
            text-transform: uppercase;
        }

        .title {
            font-size: 73px;
            font-family: $roboto-font;

            span{
                color: $red;
            }
        }

        .tagLine {
            font-size: 42px;
            font-weight: bold;
        }

        .desc {
            font-size: 18px;
            margin-top: 20px;
        }
    }

    div {
        line-height: 1.2;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {}

// Large devices (desktops, 992px and up)
@media (max-width: 992px) {
    .IndexTitle {
        padding: 150px;
    }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
    .IndexTitle {
        padding: 100px;

        .wrap {
            width: 260px;

            .title {
                font-size: 60px;
            }

            .tagLine {
                font-size: 32px;
            }

            .desc {
                font-size: 16px;
            }
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
    .IndexTitle {
        padding: 50px 20px;

        .wrap {
            width: 300px;
            margin:0 auto;
        }
    }
}






