@import '../../../sass/variables';

.IndexHeader {
    background-image: url("../../images/bg-header.jpg");
    background-color: $black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

