@import '../../../../sass/variables';

.Header {
    width: 100%;
    background-color: $dark;
    color: #ffffff;
    padding: 20px 20px;

    .title,
    .desc {
        text-transform: uppercase;
    }

    .title {
        font-size: 40px;
        font-family: $roboto-font;

        span{
            color: $red;
        }
    }

    .desc {
        color: $gray;
        font-size: 23px;
        opacity: .7;
    }

    div {
        line-height: 1.2;
    }
}

